html {
    height:100%;
    width:100%;
    padding: 0;
    margin: 0; 
    border: 0; 
    background: #fff; /*#dfe8f6*/
    font-size:13px; 
    font-family: Microsoft YaHei, Lucida Grande,Lucida Sans,Arial,sans-serif;
    color: #333;
    /* hide overflow:hidden from IE5/Mac */ 
    /* \*/ 
    overflow: hidden; 
    /* */ 
}

body {
    height:100%;
    width:100%;
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
    border: 0;
}

/*遮罩 开始*/
#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    filter:alpha(opacity=40);
    opacity:0.40;
    background:#9FD4EE;
}
#loading{
    position:absolute;
    top:50%;
    left:50%;
    width: 66px;
    height: 66px;
    z-index:20001;
    background: url("images/ajax-loading.gif") no-repeat;
}
#loading .loading-text{
    color: #555;
    font: bold 13px tahoma,arial,helvetica;
    padding-top: 22px;
    margin-left: 60px;
}
/*遮罩 结束*/

/*链接 开始*/
a{
    color: #034af3;
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: #505abc;
}
a:hover{
    color: #1d60ff;
    /*text-decoration: underline;*/
}
a:active{
    color: #12eb87;
}
a.external 
{
    color: #000;
    padding-right: 18px;
    background: transparent url(images/external.gif) no-repeat center right;
}
a.popup 
{
    color: #000;
    padding-right: 18px;
    background: transparent url(images/popup.gif) no-repeat center right;
}
/*链接 结束*/
/*基本样式 开始*/
.bold{
    font-weight: bold;
}
/*基本样式 结束*/
/*表单 开始*/
form.query, form.form {
	margin:0;
	padding:0;
}
form.query table .field, form.form table .field {
	padding:0;
	white-space:nowrap;
}
form.query table .field label.key, form.form table .field label.key {
	display:inline-block;
	white-space:nowrap;
	text-align:right;
}
form.query table .field label.key span, form.form table .field label.key span {
	color:red;
    padding:0 2px;
}
form.block table .field label.key {
	display:block;
	text-align:left;
}
/* form.query table.block .field label.key, form.form table.block .field label.key {
	display:block;
	text-align:left;
} */
.property {
    display:inline-block;
    margin:5px 0 0 5px;
    padding:0;
    white-space:nowrap;
}
.property .label {
    display:inline-block;
    white-space:nowrap;
}
.property .block {
    display:block;
}
.property input.input {
    border:1px solid #A4BED4;
    font-size:13px;
    height: 20px;/*IE下为22*/
    line-height: 20px;/*IE下为22*/
    padding: 0;
    width:94px;
}
.property select.input {
    border:1px solid #A4BED4;
    font-size:13px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    width:100px;
}
.property .label span {
    color:red;
    padding:0 2px;
}
/*表单结束*/

/*头部开始*/
.head {
    background:url(images/head_bg.gif) repeat-x;
    height:68px;
}
.logo {
    float:left;
    height:68px;
}
.logo a {
    display:inline-block;
    float: left;
}
.logo a.logo {
    background:url(images/logo.gif) no-repeat;
    height:68px;
    width:163px;
}
.logo a.title {
    background:url(images/title.gif) no-repeat;
    height:68px;
    width:294px;
}
.tips {
    background:url(images/tips_bg.gif) repeat-x;
    float: right;
    height:26px;
    list-style-type:none;
    margin:0 5px 0 0;
    padding:0;
}
.tips li {
    display:inline-block;
    float:left;
    margin:0;
    padding:0;
    position:relative;
}
.tips li.left {
    background:url(images/tips_left.gif) repeat-x;
    height:27px;
    width:39px;
}
.tips li.right {
    background:url(images/tips_right.gif) repeat-x;
    height:27px;
    width:31px;
}
.tips li span {
    display:inline-block;
    height:25px;
    line-height:25px;
    margin:0;
    padding:0 4px;
}
.tips li a {
    text-decoration: none;
}
.tips li a:visited {

}
.tips li a:hover {
    text-decoration: underline;
}
/*头部结束*/


/*右对齐一行表单*/
.formitem{
    margin-top: 2px;
}

.formitem label{
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formitem2{
    margin-top: 15px;
}

.formitem2 label{
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

label span{
    margin-right: 2px;
    color: red;
}

.input{
    border:1px solid #A4BED4;
    height:20px;
    line-height:20px;
    padding:0 2px;
    width:150px;
}

.disabled{
    background-color: #F1F1F1;
    border: 1px solid #f6f6f6;
}

/*标题默认背景*/
.title{
    background-color: #E9FCFF;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px
}

.bannerleft {
    background: url('images/banner-left.png') no-repeat left;	
    width: 420px;
    height: 70px;
    float: left;
    padding-right: 20px;
}

.separateline {
    background: url('images/jian-ge-xian.png') no-repeat center;	
    width: 1px;
    height: 59px;
    float: left;
}

.logonbg {
    background: url('images/login-bg.jpg') no-repeat scroll center;
    background-size:cover;
}

.logon_title {
    background: url('images/login-title.png') no-repeat center;	
    position: relative;
    width:714px; 
    height:401px;
    left:50%;
    top: 50%;  
    margin-left:-355px;
    margin-top: -200px;
}

.logon_title_old {
    background: url('images/old-login-title.jpg') no-repeat center;
    position: relative;
    width:640px;
    height:403px;
    left:0;
    top:0;
}
.logon_bg_old {
    background: url('images/oldLoginBackground.jpg') repeat;
}
/*.logon_title form {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 25%;*/
/*}*/
.headinfo {
    width: 170px; 
    float: left; 
    color: white; 
    padding: 5px;
}

.bannermenu {
    width: 60px; 
    height: 60px;
    float: right; 
    margin: 5px 0 0 0;
    text-align: center;
}

.bannermenu3 {
    width: 60px; 
    height: 60px;
    float: right; 
    margin: 5px 20px 0 0;
    text-align: center;
}

.menutxt {
    color: white;
    width: 100%;
}

.imgmenu {
    width: 36px;
    height: 36px;
}
img {
    border: 0;
}

.validatebox-invalid{
    background: #fff;
}

.search_area {
    background-color: #006699;
}

.search_area input {
    color:#CDCDCD;
}
.search_area div {
    float: right; 
    background: url('images/btn-icon.jpg') no-repeat; 
    width: 50px; 
    height: 22px; 
    cursor: pointer;
}

.search_area div img {
    float: left;
    margin-top: 2px; 
    margin-left: 3px;
}

.search_area div span {
    color:white;
}

.navTitle {
    margin:10px 10px 0 20px; 
    border-bottom: 1px solid black;
}

.info {
    height: 280px;
    width: 300px;
    position: relative; 
    top: 30px; 
    left: 410px; 
    border: 1px solid #45A1CF; 
    background-color: white; 
    display:none;
    z-index: 100;
}

.close_div {
    float: right; 
    padding-right: 3px; 
    font-size: 11px;
}
.btn_bar {
    text-align: center; 
    padding-top: 5px; 
    border: 0;
    width: 810px;
    height: 30px;
    /* 	filter:alpha(opacity=90);
            opacity:0.90; */
    background-color: #D9EEF8;
}

.tool_bar {
    background-color: #D9EEF8;
    border: 0 none;
    height: 20px;
    left: 600px;
    /*     opacity: 0.8;
        filter:alpha(opacity=80); */
    padding-top: 5px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 150px;
}

.img_block {
    padding: 3px; 
    text-align: center; 
    overflow-y: scroll;
    height: 450px;
    width:810px;
}

.img_block img {
    cursor: pointer;
    position: relative;
}

/*start ul*/
ul{
    list-style: none;
    margin:0;
    padding:0;
}
/*end ul*/

.icon24
{
    padding-left: 26px;
    height: 24px;
}
/*start textarea*/
textarea
{
    resize: none;
}
/*end textarea*/

/**/
.form-column-title
{
    padding: 5px;
    background: #A0C5FA;
    border-left: 4px solid #4B94FA;
    margin: 10px 0 10px 15px;
    color: #333;
}
/*隐藏IE的插件，避免占用页面位置*/

.hidden-object
{
    position: absolute;
    display: none;
    width:0;
    height:0;
}

.div-title {
    padding: 5px;
    background: #A0C5FA;
    border-left: 4px solid #4B94FA;
    margin: 10px 0 10px 15px;
    color: #333;
}